@import 'src/shared/styles/variables';
@import 'src/shared/styles/mixins';

.swiperCustom {
  max-width: 445px;
  min-width: 445px;

  @media screen and (width <= 820px) {
    max-width: 136px;
    min-width: 136px;
  }

  @media screen and (width <= 620px) {
    max-width: 188px;
    min-width: 188px;
  }

  &__imgLg {
    display: block;
    width: 445px;
    height: 593px;
    border: 1px solid $color-grey-a7;
    border-radius: 10px;

    @media screen and (width <= 820px) {
      width: 136px;
      height: 198px;
      border-radius: 3px;
    }

    @media screen and (width <= 620px) {
      width: 188px;
      height: 259.56px;
      border-radius: 10px;
    }
  }

  &__pagination {
    position: relative;

    &_blur {
      display: block;
      position: absolute;
      width: 30px;
      height: 86px;
      top: 0;
      background: linear-gradient(
        90deg,
        rgb(255 255 255 / 100%) 0%,
        rgb(255 255 255 / 20%) 100%
      );
      z-index: 10;

      &:last-child {
        right: 0;
        background: linear-gradient(
          90deg,
          rgb(255 255 255 / 20%) 0%,
          rgb(255 255 255 / 100%) 100%
        );
      }

      @media screen and (width <= 820px) {
        display: none;
      }
    }
  }

  &__swiperMain {
    width: 100%;

    .swiper-pagination {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      margin-top: 24px;

      @media screen and (width >= 820px) {
        display: none;
      }

      &-bullet {
        width: 7px;
        height: 7px;

        &-active {
          width: 9px;
          height: 9px;
          background: $color-dark;
        }
      }
    }
  }

  &__mySwiper {
    margin-top: 17px;

    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      position: static;
      margin-top: 8px;
      height: 6px;

      .swiper-scrollbar-drag {
        height: 6px;
        background: $color-grey-a7;
        border-radius: 4px;
      }

      @media screen and (width <= 820px) {
        display: none;
      }
    }

    .swiper-wrapper {
      @media screen and (width <= 820px) {
        display: none;
      }
    }
  }

  &__img {
    display: block;
    width: 65px;
    height: 86px;
    border: 1px solid $color-grey-bf;
    border-radius: 3px;
  }
}
