@import 'src/styles/variables';
@import 'src/styles/mixins';

.info {
  margin-top: 62px;

  @media screen and (width >= 820px) {
    margin-top: 52px;
  }

  @media screen and (width <= 420px) {
    margin-top: 24px;
  }

  &__title {
    @include sub-title-book-info;
  }

  &__box {
    display: flex;

    @media screen and (width <= 640px) {
      flex-wrap: wrap;
    }
  }

  &__group {
    &:last-child {
      margin-left: 146px;

      @media screen and (width <= 860px) {
        margin-left: 30px;
      }

      @media screen and (width <= 640px) {
        margin-left: 0;
      }
    }
  }

  &__item {
    display: flex;
    margin-top: 16px;
  }

  &__subTitle {
    min-width: 190px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-grey-a7;

    @media screen and (width <= 820px) {
      min-width: 138px;
      font-size: 14px;
      line-height: 18px;
    }

    @media screen and (width <= 420px) {
      min-width: 129px;
    }
  }

  &__description {
    min-width: 139px;
    max-width: 445px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: $color-dark;

    @media screen and (width <= 1110px) {
      width: 165px;
    }

    @media screen and (width <= 820px) {
      font-size: 14px;
      line-height: 18px;
    }

    @media screen and (width <= 640px) {
      width: 250px;
      font-size: 14px;
      line-height: 18px;
    }

    @media screen and (width <= 420px) {
      width: 159px;
    }
  }
}
