@import 'src/styles/mixins';
@import 'src/styles/variables';

.container {
  @include container-app;

  position: relative;
}

.menu {
  @media screen and (width >= 820px) {
    display: none;
  }

  &__button {
    width: 27px;
    height: 27px;
    display: block;
    border: none;
    background-color: $color-white;
    position: relative;

    & span {
      display: block;
      height: 3px;
      background-color: $color-dark;
      margin: 5px 0 0;
      transition: 0.2s;
      position: relative;

      @media screen and (width <= 420px) {
        height: 2px;
        margin: 4px 0 0;
      }
    }

    &_active {
      & span {
        background: $color-btn-hover;

        &:first-child {
          transform: rotate(45deg);
          top: 8px;

          @media screen and (width <= 620px) {
            top: 6px;
          }
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: -8px;

          @media screen and (width <= 420px) {
            top: -6px;
          }
        }
      }
    }

    @media screen and (width <= 420px) {
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    position: absolute;
    width: 502px;
    top: 18px;
    left: -1000px;
    z-index: 100;
    background: #f9f9fa;
    transition: left 0.4s;
    box-shadow: 0 2px 4px rgba(191, 196, 201, 20%), 0 3px 4px rgba(191, 196, 201, 18%),
      0 1px 5px rgba(191, 196, 201, 24%);
    border-radius: 10px;

    &_show {
      left: 0;
    }

    @media screen and (width <= 640px) {
      width: 288px;
    }
  }

  &__box {
    margin: 32px 0 52px 32px;
    max-width: 255px;

    @media screen and (width <= 640px) {
      margin: 16px 16px 52px;
    }
  }
}

.footer {
  border-top: 1px solid $color-grey-bf;
  padding: 0 32px;

  @media screen and (width <= 620px) {
    padding: 0 16px;
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $color-dark;
    margin-top: 32px;

    &:last-child {
      margin-top: 42px;
      margin-bottom: 52px;
    }
  }
}

.sidebar {
  @media screen and (width <= 1099px) {
    display: none;
  }
}

.nav {
  min-width: 255px;

  &__button {
    width: 100%;
    height: 36px;
    display: block;
    background-color: $color-white;
    border: none;
    position: relative;
    cursor: pointer;

    @media screen and (width <= 820px) {
      background: #f9f9fa;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  &__box {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: none;
    background-color: $color-white;
    cursor: pointer;

    &::before {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: $color-dark;
    }

    &_active {
      &::before {
        background: $color-btn-hover;
      }
    }
  }

  &__title {
    height: 36px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    &::before {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: $color-dark;
    }

    & div:last-child {
      width: 24px;
      height: 24px;
      display: block;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 7px;
        left: 7px;
        width: 10px;
        height: 10px;
        border-right: 3px solid $color-dark;
        border-top: 3px solid $color-dark;
        transform: rotate(135deg);
      }
    }

    &_active {
      background: $color-btn-hover;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      & div:last-child {
        &::before {
          border-right: 3px solid #f88211;
          border-top: 3px solid #f88211;
        }
      }

      &::before {
        background: $color-btn-hover;
      }
    }

    &_show {
      & div:last-child {
        &::before {
          transform: rotate(315deg);
        }
      }
    }
  }

  &__links {
    display: none;
    margin-left: 20px;

    &_show {
      display: block;
    }
  }

  &__subLink {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #363636;
    position: relative;
    margin-top: 42px;

    &_active {
      background: $color-btn-hover;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      &::before {
        position: absolute;
        bottom: 0;
        content: '';
        width: 255px;
        height: 1px;
        background: $color-btn-hover;
      }
    }

    &:hover {
      background: $color-btn-hover;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.link {
  display: flex;
  flex-direction: column;
  line-height: 24px;

  &__title {
    font-size: 16px;
    color: $color-dark;
    margin-top: 16px;

    &:hover {
      color: $color-accent;
    }

    & span:last-child {
      font-size: 14px;
      font-weight: 400;
    }

    &_active {
      font-weight: 700;
      font-size: 18px;
      background: $color-btn-hover;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      & span:last-child {
        background: $color-dark;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  &__value {
    font-size: 14px;
    color: $color-grey-a7;
    margin-left: 6px;

    &_active {
      color: $color-dark;
    }
  }
}
