@import 'src/styles/variables';
@import 'src/styles/mixins';

.contract {
  @include terms-contract-title;

  &__subTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-dark;
    margin-top: 32px;

    &_sm {
      font-weight: 400;

      @media screen and (width <= 420px) {
        font-size: 15px;
        line-height: 20px;
      }
    }

    @media screen and (width <= 420px) {
      margin-top: 24px;
    }
  }

  &__group {
    margin-left: 30px;
  }

  &__item {
    font-size: 16px;
    line-height: 24px;
    color: $color-dark;

    @media screen and (width <= 420px) {
      font-size: 15px;
      line-height: 20px;
    }

    margin-top: 16px;
  }
}
