@import 'src/shared/styles/variables';
@import 'src/shared/styles/mixins';


.form {
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    & div:last-child {
      margin-top: 36px;

      @media screen and (width <= 550px) {
        margin-top: 44px;
      }
    }
  }

  &__button {
    margin-top: 68px;
  }
}