@import 'src/styles/variables';
@import 'src/styles/mixins';

.showOnly {
  &__lg {
    @media screen and (width <= 840px) {
      display: none;
    }
  }

  &__md {
    @media screen and (width >= 840px) {
      display: none;
    }

    @media screen and (width <= 840px) {
      display: block;
    }
  }
}

.description {
  margin-top: 62px;

  @media screen and (width >= 820px) {
    margin-top: 48px;
  }

  @media screen and (width <= 640px) {
    margin-top: 42px;
  }

  &__subTitle {
    @include sub-title-book-info;
  }

  &__text {
    height: 100%;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $color-dark;
    white-space: pre-wrap;

    @media screen and (width <= 420px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
