$color-accent: #ff5253;
$color-white: #fff;
$color-dark: #363636;
$color-dark30: rgba(54, 54, 54, 30%);
$color-btn-pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
$color-btn-hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
$color-grey: #727272;
$color-grey-a7: #a7a7a7;
$color-grey-bf: #bfc4c9;
$color-grey-eb: #ebebeb;
