@import "src/shared/styles/variables";
@import "src/shared/styles/mixins";

.container {
  @include container-app;

  display: flex;
}

.main {
  width: 100%;

  &__body {
    margin-top: 62px;
    margin-bottom: 62px;

    @media screen and (width <= 820px) {
      margin-top: 32px;
    }

    @media screen and (width <= 420px) {
      margin-top: 8px;
    }
  }
}
